{layout '../@layout.latte'}
{block content}
<a n:href="Homepage:default">Home</a><br>
<a href="{$codeUrl}">request access token</a><br>
<a n:href="apiRefresh">refresh access token</a><br>
<a n:href="sageApi">API request-quick entries</a><br>
<a n:href="sageApiCreate">API request-create quick entry</a><br>
<br>