{layout '../@layout.latte'}
{block content}
<a href="https://www.sageone.com/oauth2/auth/central?filter=apiv3.1&response_type=code&client_id=13ce2a56-cbdf-4e7b-b0be-2dec824c8355/d83fa145-cecc-44bc-a736-cb150e561eef&redirect_uri=http://localhost/romanprochazka/www/finca.homepage/callback&scope=full_access">request access token</a><br>
<a n:href="sageApi">API request</a>
