{layout '../@layout.latte'}
{block content}
<a href="{$apiUrl}">request access token</a><br>
<a n:href="sageApi">API request-quick entries</a><br>
<a n:href="sageApiCreate">API request-create quick entry</a><br>
<br>